body{
    font-family: 'Open Sans', sans-serif;
}

/* Header */

.centered{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    border-radius: 40px;
    padding: 7px 16px;
    border: none;
}

/* Bonus */

.btn:not(.lightpurple):hover{
    color: #7289DA;    
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

.btn.btn-secondary:hover{
    color: #ffffff;
    background-color: rgb(62, 59, 59);    
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

.btn.lightpurple:hover{   
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

/* /Bonus */

.lightpurple{
    background-color: #7289DA;
    color: #ffffff;
}

.lightpurple-text{
    color: #7289DA;
    font-size: 0.8em;
}

/* Nav */

nav{
    background-color: #255EE9;
}

nav .nav-inner{
    padding: 20px 0;

    /* flex */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#logo{
    align-self: center;
}

#links{
    /* flex */
    display: flex;
    align-items: stretch;
}

#links ul {
    list-style-type: none;

    /* flex */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 30px;
}

#links ul li {
    color: #ffffff;
}

#links ul li a{
    color: #ffffff;
    text-decoration: none;
}

/* bonus links */
#links ul li a:hover{
    text-decoration: underline;
}

#links ul li a:visited,
#links ul li a:focus
{
    color: #ffffff;
    text-decoration: none;
}


#login{
    align-self: center;
}
/* /Nav */

header .info-wrapper{
    min-height: 500px;

    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

header .info-inner{
    width: 650px;
    text-align: center;
}

header .info-wrapper .info-inner > h1,
header .info-wrapper .info-inner > p
{
    color: #ffffff;
}

header .info-inner > h1{
    font-size: 2.5em;
}

header .info-inner > p{
    padding: 1.5em 0;
}

header .info-inner .btn-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

header .info-inner .btn {
    font-size: 1.1em;
    padding: 10px 18px;
}

header .info-inner .btn-secondary {
    color: #ffffff;
    background-color: #23272A;
}

/* /Header */

/* Main */

main section .chat-wrapper {
    height: 600px;
    /* flex */
    display: flex;
}

main section .chat-wrapper .chat-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

main section .chat-wrapper .chat-info {
    flex-grow: 5;
    padding: 7em 11em 0 1em;
}

main section:nth-of-type(even){
    background-color: #F6F6F6;
}

main section:nth-of-type(even) .chat-wrapper .chat-info{
    flex-grow: 5;
    padding: 7em 2em 0 10em;
}

main section .chat-wrapper .chat-info h2 {
    font-size: 40px;
    line-height: 1.1em;
}

main section .chat-wrapper .chat-info p {
    padding-top: 2em;
    line-height: 1.5em;
}

main .wave-1hkxOo {
    display: block;
}

main #wave1{
    fill: #F6F6F6;
}

main #wave2{
    fill: #F6F6F6;
    background-color: #FFFFFF;
    transform: scale(1, -1);
}

main #wave3{
    fill: #F6F6F6;
}

main section .video-wrapper {
    max-width: 1100px;

    /* flex */
    display: flex;
    flex-flow: column nowrap;
}

main section .video-wrapper .video-info{
    text-align: center;
    padding: 0 5em;
}

main section .video-wrapper .video-info h2{
    font-size: 40px;
    padding-top: 2em;
    padding-bottom: 0.6em;
}

main section:last-of-type{
    background-color: #F6F6F6;
}

main section .download{ 
    height: 300px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 2em;

    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-position: 50% 25%;

}

main #btn-download {
    font-size: 1em;
    padding: 10px 18px;
}

/* /Main */

/* Footer */

footer{
    background-color: #23272A;
}

footer .footer-wrapper .footer-links{
    /* flex */
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.footer-links .footer-links-inner {
    display: flex;
    padding-top: 5em;
}

.footer-links .footer-links-inner .social .lang-container{
    padding: 1em 0;
}

.footer-links .footer-links-inner .social img{
    width: 1.3em;
}

.footer-links .footer-links-inner .social h3{
    font-size: 1.7em;
}

.footer-links .footer-links-inner .social .lang{
    font-size: 0.8em;
}

.footer-links .footer-links-inner .social{
    color: #ffffff;
}

.social .social-links > a{
    padding-right: 1em;
}


.social .social-links svg{
    width: 1.1em;
    fill: #ffffff;
}

.social .social-links #yt{
    width: 1.3em;
    fill: #ffffff;
}

.footer-links .footer-links-inner .page-links{
    width: 900px;

    /* flex */
    display: flex;
    justify-content: space-between;
}

.footer-links .footer-links-inner .page-links ul{
    /* width: 100px; */
    list-style-type: none;
}

.footer-links .footer-links-inner .page-links ul li{
    color: #ffffff;
    padding: 0.7em 0;
    font-size: 0.8em;
}

.page-links ul li a,
.page-links ul li a:visited, 
.page-links ul li a:focus{
    text-decoration: none;
    color: #ffffff;
}

footer .footer-wrapper hr {
    border: 1px solid #4F5D8C;
}

footer .footer-wrapper .footer-sign-up{
    height: 100px;

    /* flex */
    display: flex;
    justify-content: space-between;

    padding-top: 1em;
}

.footer-sign-up .footer-btn{
    height: 50px;
    width: 100px;
}

/* /Footer */