body{
    font-family: 'Open Sans', sans-serif;
}

/* Header */

.centered{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    border-radius: 40px;
    padding: 7px 16px;
    border: none;
}

.lightpurple{
    background-color: #7289DA;
    color: #ffffff;
}

/* Nav */

nav{
    background-color: #255EE9;
}

nav .nav-inner{
    padding: 20px 0;

    /* flex */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#logo{
    align-self: center;
}

#links{
    /* flex */
    display: flex;
    align-items: stretch;
}

#links ul {
    list-style-type: none;

    /* flex */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 30px;
}

#links ul li {
    color: #ffffff;
}

#links ul li a{
    color: #ffffff;
    text-decoration: none;
}

#links ul li a:visited,
#links ul li a:focus
{
    color: #ffffff;
    text-decoration: none;
}


#login{
    align-self: center;
}
/* /Nav */

header .info-wrapper{
    min-height: 500px;

    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

header .info-inner{
    width: 650px;
    text-align: center;
}

header .info-wrapper .info-inner > h1,
header .info-wrapper .info-inner > p
{
    color: #ffffff;
}

header .info-inner > h1{
    font-size: 2.5em;
}

header .info-inner > p{
    padding: 1.5em 0;
}

header .info-inner .btn-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

header .info-inner .btn {
    font-size: 1.1em;
    padding: 10px 18px;
}

header .info-inner .btn-secondary {
    color: #ffffff;
    background-color: #23272A;
}

/* /Header */

/* Main */

main section .chat-wrapper {
    height: 600px;
    /* flex */
    display: flex;
}

main section .chat-wrapper .chat-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

main section .chat-wrapper .chat-info {
    flex-grow: 5;
    padding: 7em 11em 0 1em;
}

main section:nth-of-type(even){
    background-color: #F6F6F6;
}

main section:nth-of-type(even) .chat-wrapper .chat-info{
    flex-grow: 5;
    padding: 7em 2em 0 10em;
}

main section .chat-wrapper .chat-info h2 {
    font-size: 40px;
    line-height: 1.1em;
}

main section .chat-wrapper .chat-info p {
    padding-top: 2em;
    line-height: 1.5em;
}

main .wave-1hkxOo {
    margin-bottom: -5px;
}

main #wave1{
    fill: #F6F6F6;
}

main #wave2{
    fill: #F6F6F6;
    background-color: #FFFFFF;
    transform: scale(1, -1);
}

main #wave3{
    fill: #F6F6F6;
}

main section .video-wrapper {
    width: 850px;

    /* flex */
    display: flex;
    flex-flow: column nowrap;
}

main section .video-wrapper .video-info{
    text-align: center;
}

main section .video-wrapper .video-info h2{
    font-size: 40px;
    padding-top: 2em;
    padding-bottom: 0.6em;
}

main section:last-of-type{
    background-color: #F6F6F6;
}

main section .download{ 
    height: 300px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 2em;

    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-position: 50% 25%;

}

main #btn-download {
    font-size: 1em;
    padding: 10px 18px;
}



/* /Main */

/* Footer */

footer{
    background-color: #23272A20;
}

footer .footer-wrapper{
    background-color: #23272A20;
    height: 650px;
    /* debug */
}

footer .footer-wrapper .footer-links{
    height: 550px;
    /* debug */

    /* flex */
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.footer-links .footer-links-inner {
    display: flex;
}

.footer-links .footer-links-inner .social{
    width: 300px;
    background-color: #0015d030;
}

.footer-links .footer-links-inner .page-links{
    width: 900px;
    background-color: #80808020;

    /* flex */
    display: flex;
    justify-content: space-between;
}

.footer-links .footer-links-inner .page-links ul{
    background-color: #0015d030;
    width: 100px;
}

footer .footer-wrapper .footer-sign-up{
    height: 100px;
    /* debug */

    /* flex */
    display: flex;
    justify-content: space-between;
}

.footer-sign-up .footer-logo{
    background-color: #19520020;
    width: 100px;
    height: 50px;
}

.footer-sign-up .footer-btn{
    background-color: #19520020;
    height: 50px;
    width: 100px;
}

/* /Footer */